<div class="jumbotron animated fadeIn fast">
  <div class="container animated fadeIn">
    <h1 class="display-4">Sobre Nosotros</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eius perspiciatis error itaque
      assumenda
      quas dicta nostrum repudiandae magnam modi, ex asperiores iusto voluptas quisquam quidem ipsum eligendi voluptate
      possimus dolorum sed eaque molestias perferendis praesentium earum. Harum, veritatis eveniet.</p>
    <!-- <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" [routerLink]="['..home']" role="button">Volver al Inicio</a> -->
  </div>
</div>